.header {
  display: flex;
  align-items: baseline;
  padding: 4rem var(--gutter-x);

  nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
    margin-inline-start: auto;
  }

  .title {
    font-size: 2rem;
    font-weight: 600;
  }

  :global {
    a {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        flex: 0 0 auto;
        height: 1.25em;
        width: 1.25em;
        fill: currentColor;
      }
    }
  }
}