@use '../../styles/mixins.scss';

.footer {
  --color-footer: hsl(0, 0%, 70%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4rem;
  background: var(--bg-footer);
  color: var(--color-footer);
  font-size: smaller;

  @include mixins.for-light-mode {
    --color-footer: hsl(0, 0%, 40%);
  }

  :global {
    .copy {
      border-top: 1px solid hsl(0, 0, 50, .3);
      width: 100%;
      text-align: center;
      padding-top: 4rem;
    }
  }
}