@use 'mixins.scss';
@use 'fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.6rem, calc(1rem + 1vw), 2rem);
  margin: 0;
  font-family: 'Inter', sans-serif;
}


/* Override browser styles but keep low specificity */
:where(:link, :visited) {
  --color-link-hue: 220;
  --color-link-saturation: 30%;
  --color-link: hsl(var(--color-link-hue), var(--color-link-saturation), 90%);

  @include mixins.for-light-mode {
    --color-link: hsl(var(--color-link-hue), var(--color-link-saturation), 10%);
  }

  color: var(--color-link);
  text-underline-offset: .2em;

  &:hover {
    --color-link: hsl(var(--color-link-hue), var(--color-link-saturation), 80%);

    @include mixins.for-light-mode {
      --color-link: hsl(var(--color-link-hue), var(--color-link-saturation), 20%);
    }
  }

  &:active {
    --color-link: hsl(var(--color-link-hue), var(--color-link-saturation), 100%);

    @include mixins.for-light-mode {
      --color-link: hsl(var(--color-link-hue), var(--color-link-saturation), 0%);
    }
  }
}

:where(h1) {
  font-size: clamp(1.5em, 1rem + 2.5vw, 3.5em)
}

:where(p) {
  line-height: 1.6;
}

:where(ul) {
  line-height: 1.8;
}

:where(code) {
  background: rgb(150, 150, 150, .3);
  border-radius: .2em;
  border: .1em solid currentColor;
  padding: .1em .4em;
  white-space: nowrap;
  font-size: .9em;
}