@use 'mixins.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.6rem, calc(1.5rem + .5vw), 2rem);
  margin: 0;
  font-family: 'Inter', sans-serif;
}


/* Override browser styles but keep low specificity */
:where(:link, :visited) {
  --color-link: hsl(0, 0%, 90%);

  @include mixins.for-light-mode {
    --color-link: hsl(0, 0%, 10%);
  }

  color: var(--color-link);
  text-underline-offset: .2em;

  &:hover {
    --color-link: hsl(0, 0%, 80%);

    @include mixins.for-light-mode {
      --color-link: hsl(0, 0%, 40%);
    }
  }

  &:active {
    --color-link: hsl(0, 0%, 100%);

    @include mixins.for-light-mode {
      --color-link: hsl(0, 0%, 0%);
    }
  }
}

:where(p) {
  line-height: 1.6;
}

:where(ul) {
  line-height: 1.8;
}